body{
    margin: 0;
}
header{
    background-color: white;
    color: black;
    display: flex;
    /* justify-content: space-between; */
    position: fixed;
    /* top: 0; */
    width: 100vw;
}
header p{
    margin: 0.75rem 1.75rem 0.75rem 1.75rem;
}
#second{
    margin-left: auto;
}
header span{
    font-weight: bold;
}
#homepage{
    height: 100vh;
    width: 100vw;
    background-image: url(architect.jpg);
    background-size: cover;
}
#home{
    color: white;
    position: absolute;
    top: 40vh;
    left: 45vw;
}
#home {
    font-size: 2rem;
}
#home span{
    background-color: darkslategrey;
    padding: 0.25rem 0.5rem;
}
#project{
    /* margin-top: 3rem; */
    width: 100vw;
    margin-bottom: 3rem;
    background-color: aqua;
    padding-bottom: 3rem;
}
#project p{
    margin-left: 1.75rem;
}
#project img{
    width: 300px;
    height: auto;
    margin-top: 1.75rem;
    cursor: pointer;

}
#project div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} 
#about{
    /* margin: 1.75rem; */
    width: 100vw;
    background-color: aquamarine;
    /* padding: 1.75rem; */
    
}
#about div{
    display: inline-block;
    margin: 0 0 0 0.5rem;
}
#about p{
    margin: 1.05rem;
}
#members div{
   max-width: 300px; 
}
#members p{
    margin-bottom: 0.5rem;
    margin-left: 0;
}
#members img{
    width: 100%;
    border-radius: 0.3rem;
}
#members{
    display: flex;
    flex-direction: row;
    /* justify-content: space space-between; */
}
.names{
    font-weight: bold;
}
.title{
    opacity: 0.6;
}
.contact:hover{
    cursor: copy;
}